@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

$gray-medium-light: #eaeaea;
$gray-light: #777;
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
        color: white;
        text-decoration: none;
        font-weight: normal;
    }
}

#cat {
    display: none;
}

.footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    background-color: black;
    height: 50px;
    a {
        color: #555;
        &:hover {
            color: white;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        margin-right: 50px;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}


/* sidebar */

aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}